# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production build
dist/
build/

# sst
.sst/
.open-next/
sst-env.d.ts

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# typescript
*.tsbuildinfo

# test coverage
coverage/

# os / editor
.DS_Store
.idea/
*.swp
